@page "/orders/order-items/{id:int}"
@using ExcelAndBlazorApp.Shared.Dtos
@inject HttpClient Http


@if (order is null)
{
    <p>Ładowanie danych...</p>
}
else
{
    <h1>Przedmioty zamówienia @order.OrderNumber z dnia @order.Date</h1>
    <table class="table">
        <thead>
            <tr>

                <th>Przedmiot</th>
                <th>Koszt brutto</th>
                <th>Ilość</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var orderItem in order.Items)
            {
                <tr>
                    <td>@orderItem.ItemName</td>
                    <td>@orderItem.PriceGross</td>
                    <td>@orderItem.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
}

